<?xml version="1.0"?>
<launch>
    <!-- <arg name="use_sim_time" default="true"/> -->
    <arg name="gui" default="false"/>
    <arg name="robot" default="athos"/>

    <group if="$(eval robot == 'aramis')">
        <param name="tf_prefix" value="$(arg robot)" />
        <node name="flock_$(arg robot)" type="flocking_agents.py" pkg="consensus" args="$(arg robot)" />
        <node pkg="tf" type="static_transform_publisher" name="robot_broadcaster1" args="0 0 0 0 0 0 odom $(arg robot)/odom 50" />
        <include file="$(find aramis_description)/launch/aramis_description.launch" />
    </group>

    <group if="$(eval robot == 'athos')">
        <param name="tf_prefix" value="$(arg robot)" />
        <node name="flock_$(arg robot)" type="flocking_agents.py" pkg="consensus" args="$(arg robot)" />
        <node pkg="tf" type="static_transform_publisher" name="robot_broadcaster2" args="2 0 0 0 0 0 odom $(arg robot)/odom 50" />
        <include file="$(find athos_description)/launch/athos_description.launch" />
    </group>

    <group if="$(eval robot == 'porthos')">
        <param name="tf_prefix" value="$(arg robot)" />
        <node name="flock_$(arg robot)" type="flocking_agents.py" pkg="consensus" args="$(arg robot)" />
        <node pkg="tf" type="static_transform_publisher" name="robot_broadcaster3" args="4 0 0 0 0 0 odom $(arg robot)/odom 50" />
        <include file="$(find porthos_description)/launch/porthos_description.launch" />
    </group>

    <!-- <include file="$(find consensus)/launch/display.launch" /> -->
</launch>
